<!-- Validation error displays -->
<!-- <div *ngIf="loginForm.get('username')?.hasError('required') && (usernameCheck || formCheck)" class="error">
    Username is required
</div>
<div *ngIf="loginForm.get('username')?.hasError('minlength') && (usernameCheck || formCheck)" class="error">
    Username must be at least 3 characters long
</div>
<div *ngIf="loginForm.get('username')?.hasError('maxlength') && (usernameCheck || formCheck)" class="error">
    Username must not be longer than 36 characters
</div>
<div *ngIf="loginForm.get('username')?.hasError('symbolsNotAllowed') && (usernameCheck || formCheck)" class="error">
    No special characters allowed
</div> -->

<!-- Validation error displays -->
<!-- <div *ngIf="loginForm.get('password')?.hasError('required') && (passwordCheck || formCheck)" class="error">
    Password is required
</div>
<div *ngIf="loginForm.get('password')?.hasError('minlength') && (passwordCheck || formCheck)" class="error">
    Password must be at least 8 characters long
</div>
<div *ngIf="loginForm.get('password')?.hasError('maxlength') && (passwordCheck || formCheck)" class="error">
    Password must not be longer than 254 characters
</div>
<div *ngIf="loginForm.get('password')?.hasError('symbolsNotAllowed') && (passwordCheck || formCheck)" class="error">
    No special characters allowed
</div> -->